Source: yubix
Section: misc
Priority: extra
Maintainer: Yubico Open Source Maintainers <ossmaint@yubico.com>
Uploaders: Dain Nilsson <dain@yubico.com>
Build-Depends: debhelper (>= 8), config-package-dev
Standards-Version: 3.9.3
Homepage: https://github.com/Yubico/yubix/
#Vcs-Git: git://git.debian.org/collab-maint/yubix.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/yubix.git;a=summary

Package: yubix
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends},
 yubikey-ksm (>= 1.12),
 yubikey-val (>= 2.21),
 python-pyhsm (>= 1.0.4b),
 rlm-yubico (>= 0.5.1)
Description: Sets up and configures basic YubiKey servers
 Sets up default installations of the following:
 yubikey-ksm, yubikey-val, python-pyhsm, freeradius with rlm-yubico.
 See each project for further details.
