Source: yubix
Section: misc
Priority: extra
Maintainer: Yubico Open Source Maintainers <ossmaint@yubico.com>
Uploaders: Dain Nilsson <dain@yubico.com>
Build-Depends: debhelper (>= 8), config-package-dev
Standards-Version: 3.9.4
Homepage: https://github.com/Yubico/yubix/
Vcs-Browser: https://github.com/Yubico/yubix
Vcs-Git: git://github.com/Yubico/yubix.git

Package: yubix
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends},
 apache2,
 libapache2-mod-wsgi,
 python-yubiadmin (>= 0.0.8),
 yubikey-ksm (>= 1.13),
 yubikey-val (>= 2.23),
 python-pyhsm (>= 1.0.4g),
 python-yubiauth (>= 0.2.3),
 libwww-perl
Description: Sets up and configures basic YubiKey servers
 Sets up default installations of the following:
 yubikey-ksm, yubikey-val, python-pyhsm, yubiauth, freeradius with rlm-yubico.
 See each project for further details.
