#!/usr/bin/make -f
# -*- makefile -*-

DEB_DIVERT_FILES_yubi-x += \
    /etc/freeradius/modules/perl.divert

include /usr/share/cdbs/1/rules/config-package.mk
include /usr/share/cdbs/1/rules/debhelper.mk

#override_dh_auto_build:
# There is no default 'make' target for this package

#%:
#	dh $@ 
